.card{
    width: 180px;
    height: 300px;
    align-items: center;
    flex-direction:column ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 24px;
    position: relative;
}

.card .encabezado{
    width: 135px;
    background-color: #363A3D;
    border-radius: 20px 20px 0px 0px;
}

.card img{
    width: 80px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.card .letras{
    background: #fff;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.08);
    border-radius: 0px 0px 20px 20px;
    padding: 30px;
    padding-bottom: 40px;
    min-height: 100px;
    font-family: 'Indie Flower', cursive;
}

.card .letras h4{
    color: #363A3D;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card .letras h5{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
    padding: 0px 15px; 
    font-weight: 100;
    margin: 0;
}